.cartDivs{
    width: 75vw;
    flex-direction: row;
}

.cartContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: fit-content;
    width: fit-content;
    text-align: center;
    
}
.cartText{
    font-size: medium;
}

.cartEmptyContainer{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;

}
.cartEmptyDiv{
    display: flex;
    flex-direction: column;
    text-align: center;
}